<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
	<title>{{ settings.APPLICATION_TITLE }}</title>

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<script src="/static/js/json2.js"></script>
    <![endif]-->

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ settings.SITE_URL }}/static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ settings.SITE_URL }}/static/css/app.css">

    <script type="text/javascript">
    	COLLECTIONS = {{ settings.COLLECTIONS|tojson|safe }};
    	COLLECTION_ORDER = {{ settings.COLLECTION_ORDER|tojson|safe }};
    	ENABLE_USER_AUTH = {{ settings.ENABLE_USER_AUTH|tojson|safe }};
    	SITE_URL = "{{ settings.SITE_URL }}";
    	API_URL = "{{ settings.WEB_API_URL }}";
    	PAGINATION_HITS_PER_PAGE = {{ settings.PAGINATION_HITS_PER_PAGE }};
    	FACETS = {{ settings.FACETS|tojson|safe }};
    	BOOKMARKED_DOCS = [
    	{%- for bookmark in bookmarks -%}
    		'{{ bookmark.doc_id }}'
    		{%- if not loop.last -%}
    			,
    		{%- endif %}
    	{%- endfor -%}
    	];
    </script>
</head>
<body>
	<div id="head">
		<header class="container">
			<h1>{{ settings.APPLICATION_TITLE }}</h1>
			{% if settings.ENABLE_USER_AUTH %}
			<div id="bookmarks" class="btn-group pull-right">
				<a class="btn" id="show_bookmarks">My Bookmarks</a>
			</div>
			<div id="logout">
				<a class="btn" href="{{ settings.SITE_URL }}/logout">Log out</a>
			</div>
			{% endif %}
		</header>
	</div>
	<div id="main" class="container">
		<div class="row searchbar">
			<div class="span5">
				<form class="form-search" id="term-query-search">
  					<input type="text" class="input-xlarge search-query" type="text">
  					<button type="submit" id="search-button" class="btn btn-success">Search</button>
				</form>
			</div>
			<div class="span4 offset1">
 				<div class="btn-group search-screen">
 					<button id="basic" class="btn btn-info active">Basic Search</button>
 					<button id="aggregated" class="btn">Combined Search</button>
 					<button id="similarity" class="btn">Similarity Search</button>
  				</div>
			</div>
		</div>
		<div id="screen_basic" class="row search_screen">
			<div id="facets_basic" class="span4 facets active">
				<div class="facet facet-collections">
					<h2>Collections</h2>
					<ul>
						{% for collection in settings.COLLECTION_ORDER %}
							<li>
								<label class="radio">
									<input type="radio" name="collection" id="collection" value="{{ collection }}" {% if loop.first %}checked{% endif %}> {{ settings.COLLECTIONS[collection].name }}
								</label>
							</li>
						{% endfor %}
					</ul>
				</div>
				{% for collection in settings.COLLECTION_ORDER %}
					{% for facet in settings.COLLECTIONS[collection]['facets'] %}
					<div class="facet facet-{{ collection }} facet-{{ facet }} facet-{{ settings.FACETS[facet]['type'] }} hide">
						<h2>{{ settings.FACETS[facet]['name'] }}</h2>
						{% if settings.FACETS[facet]['type'] == 'checkbox' %}
						<ul>

						</ul>
						{% endif %}
						{% if settings.FACETS[facet]['type'] == 'range' %}
						<div class="slider-lower-val"></div>
						<div class="slider-upper-val"></div>
						<div class="slider"></div>
						{% endif %}
					</div>
					{% endfor %}
				{% endfor %}
			</div>
			<div id="results-basic" class="span8 results">
				<ul class="hits">

				</ul>
				<div class="pagination pagination-right">
					<ul>

					</ul>
				</div>
			</div>
		</div>
		<div id="screen_aggregated" class="row search_screen hide">
		{% for collection in settings.COLLECTION_ORDER %}
			<div id="screen_aggregated_collection-{{ collection }}" class="collection collection-{{ collection }}">
				<div class="collection-header">
					<h2>{{ settings.COLLECTIONS[collection].name }}</h2>
					<div class="num-hits"></div>
					<a class="filter-toggle">Filters<span class="caret"></span></a>
				</div>
				<div class="facets row">
				{% for facet in settings.COLLECTIONS[collection]['facets'] %}
					<div class="facet facet-{{ collection }} facet-{{ facet }} facet-{{ settings.FACETS[facet]['type']}}">
						<h3>{{ settings.FACETS[facet]['name'] }}</h2>
						{% if settings.FACETS[facet]['type'] == 'checkbox' %}
						<ul>

						</ul>
						{% endif %}
						{% if settings.FACETS[facet]['type'] == 'range' %}
						<div class="slider-lower-val"></div>
						<div class="slider-upper-val"></div>
						<div class="slider"></div>
						{% endif %}
					</div>
				{% endfor %}
				</div>
				<div class="results results-{{ collection }} row">
					<ul class="hits hits-{{ collection }}">

					</ul>
					<div class="pagination pagination-small pagination-right pagination-{{ collection }}">
						<ul>

						</ul>
					</div>
				</div>
			</div>
		{% endfor %}
		</div>
		<div id="screen_similarity" class="row search_screen hide">
			<div id="similarity-history" class="collection hide">
				<div class="collection-header">
					<h2>Previous similarity searches</h2>
				</div>
				<div class="results results-{{ collection }} row">
					<ul class="hits">

					</ul>
				</div>
			</div>
		{% for collection in settings.COLLECTION_ORDER %}
			<div id="screen_similarity_collection-{{ collection }}" class="collection collection-{{ collection }}">
				<div class="collection-header">
					<h2>{{ settings.COLLECTIONS[collection].name }}</h2>
					<div class="num-hits"></div>
					<a class="filter-toggle">Filters<span class="caret"></span></a>
				</div>
				<div class="facets row">
				{% for facet in settings.COLLECTIONS[collection]['facets'] %}
					<div class="facet facet-{{ collection }} facet-{{ facet }} facet-{{ settings.FACETS[facet]['type']}}">
						<h3>{{ settings.FACETS[facet]['name'] }}</h2>
						{% if settings.FACETS[facet]['type'] == 'checkbox' %}
						<ul>

						</ul>
						{% endif %}
						{% if settings.FACETS[facet]['type'] == 'range' %}
						<div class="slider-lower-val"></div>
						<div class="slider-upper-val"></div>
						<div class="slider"></div>
						{% endif %}
					</div>
				{% endfor %}
				</div>
				<div class="results results-{{ collection }} row">
					<ul class="hits hits-{{ collection }}">

					</ul>
					<div class="pagination pagination-small pagination-right pagination-{{ collection }}">
						<ul>

						</ul>
					</div>
				</div>
			</div>
		{% endfor %}
		</div>
		<div id="screen_bookmarks" class="row hide">
			<ul></ul>
		</div>
	</div>

	<div id="foot">
		<footer class="container">
		    {% if settings.ABOUT_URL %}
		    <a href="{{ settings.ABOUT_URL }}">About the {{ settings.APPLICATION_TITLE }} project</a>
		    {% endif %}
		</footer>
	</div>
	{% if settings.ENABLE_ILPSLOGGING %}
	<script>
	    (function() {
	        var script = document.createElement('script');
	        script.async = true;
	        // script.src = 'http://ilpslogging.staging.dispectu.com/jssdk/ilpslogging-0.2.min.js';
	        script.src = '{{ settings.ILPSLOGGING_API_URL }}/jssdk/ilpslogging-0.2.min.js';
	        var entry = document.getElementsByTagName('script')[0];
	        entry.parentNode.insertBefore(script, entry);
	    })();

	    var ILPSLogging_ready = ILPSLogging_ready || [];
	    ILPSLogging_ready.push(function(){
	        var config = {
	            api_url: '{{ settings.ILPSLOGGING_API_URL }}',
            	project_key: '{{ settings.ILPSLOGGING_PROJECT_KEY }}',
	            log_mouse_movements: true,
	            log_mouse_clicks: true,
	            post_events_queue_on_browser_close: true,
	            log_browser_close: true,
	            debug: false,
	        };
	        ILPSLogging.init(config, function(){
	            var state = ILPSLogging.getState();
	            state.active_search_screen = 'basic';
	            ILPSLogging.setState(state);

	            if(ENABLE_USER_AUTH) {
	            	ILPSLogging.userLogin({{current_user_id|tojson|safe}}, null, false);
	            }
	        });
	    });
	</script>
	{% else %}
	<script>ILPSLogging = false;</script>
	{% endif %}
	<script type="text/javascript" src="{{ settings.SITE_URL }}/static/js/jquery-1.8.2.min.js"></script>
	<script type="text/javascript" src="{{ settings.SITE_URL }}/static/js/jquery-ui-1.9.1.custom.min.js"></script>
	<script type="text/javascript" src="{{ settings.SITE_URL }}/static/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="{{ settings.SITE_URL }}/static/js/app.js"></script>
	{% if settings.EXTERNAL_JS %}<script type="text/javascript" src="{{ settings.EXTERNAL_JS }}"></script>{% endif %}
</body>
</html>
