{% extends "modal.html" %}
{% block content %}
<div id="photos-slider" class="carousel slide" data-interval="">
    <div class="carousel-inner">
        <ul>
            {% set photo_dir = doc.docid.split('_')[1] %}
            {% set comp_docid = doc.docid|replace('tvguide_', '') %}
            {% for photo in doc.media_path|sort %}
                {% set photo_name = photo|replace('.jpg', '') %}
                {% if photo_name == comp_docid %}
                    <li class="item active">
                {% else %}
                    <li class="item">
                {% endif %}
                <img style="width:400px;" src="{{ settings.COLLECTIONS[collection]['media_url'] + '/l/' + photo }}"/>
                <div class="carousel-caption">
                    <a href="{{ settings.COLLECTIONS[collection]['media_url'] + '/o/' + photo }}" target="_blank">
                        <p><i class="icon-search icon-white"></i> <u>View full size</u></p>
                    </a>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    <a class="carousel-control left" href="#photos-slider" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#photos-slider" data-slide="next">&rsaquo;</a>
</div>
{% endblock %}
{% block sidebar %}
<table class="table table-striped">
    <tr>
        <td>Collection</td>
        <td>{{ settings.COLLECTIONS['tvguide']['name'] }}</td>
    </tr>
    <tr>
        <td>Document ID</td>
        <td>{{ doc.docid }}</td>
    </tr>
</table>
{% endblock %}