{% extends "modal.html" %}
{% block content %}
    <p>{{ doc.content[0]|safe }}</p>
{% endblock %}
{% block sidebar %}
<table class="table table-striped">
    <tr>
        <td>Collection</td>
        <td>{{ settings.COLLECTIONS['kb']['name'] }}</td>
    </tr>
    <tr>
        <td>Document ID</td>
        <td>{{ doc.docid }}</td>
    </tr>
    {% if doc.publication_date %}
    <tr>
        <td>{{ settings.FACETS['kb_publication_date']['name'] }}</td>
        <td>{{ doc.publication_date }}</td>
    </tr>
    {% endif %}
</table>
{% endblock %}
