{% extends "modal.html" %}
{% block content %}
    <div id="photos-slider" class="carousel slide" data-interval="">
        <div class="carousel-inner">
        {% for photo in doc.media_path %}
        {% if loop.first %}
            <li class="item active">
        {% else %}
            <li class="item">
        {% endif %}
                <img style="width:400px;" src="{{ settings.COLLECTIONS[collection]['media_url'] + '/l/' + photo }}"/>
            </li>
        {% endfor %}
        </div>
        <a class="carousel-control left" href="#photos-slider" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#photos-slider" data-slide="next">&rsaquo;</a>
    </div>
{% if doc.content_summary %}
    <p>{{ doc.content_summary[0]|safe }}</p>
{% endif %}
{% endblock %}
{% block sidebar %}
<table class="table table-striped">
    <tr>
        <td>Collection</td>
        <td>{{ settings.COLLECTIONS['fotovlop']['name'] }}</td>
    </tr>
    <tr>
        <td>Document ID</td>
        <td>{{ doc.docid }}</td>
    </tr>
    {% if doc.publication_date %}
    <tr>
        <td>{{ settings.FACETS['fotovlop_publication_date']['name'] }}</td>
        <td>{{ doc.publication_date }}</td>
    </tr>
    {% endif %}
    {% if doc.contributor %}
    <tr>
        <td>{{ settings.FACETS['fotovlop_contributor']['name'] }}</td>
        <td>
            <ul>
            {% for contributor in doc.contributor %}
                <li>{{ contributor }}</li>
            {% endfor %}
            </ul>
        </td>
    </tr>
    {% endif %}
    {% if doc.names %}
    <tr>
        <td>{{ settings.FACETS['fotovlop_names']['name'] }}</td>
        <td>
            <ul>
            {% for name in doc.names %}
                <li>{{ name }}</li>
            {% endfor %}
            </ul>
        </td>
    </tr>
    {% endif %}
</table>
{% endblock %}