<div>
    <div class="doc-head">
    	<h3>{{ doc.title|join() }}</h3>
    	{% if settings.ENABLE_USAGE_LOGGING %}
    	   {% if bookmarked %}
    		  <a class="btn btn-mini btn-danger bookmark delete-bookmark" href="{{ settings.SITE_URL }}/bookmark/delete?collection={{ collection }}&docid={{ doc.docid }}" data-docid="{{ doc.docid }}"><i class="icon-bookmark icon-white"></i> Delete Bookmark</a>
    	   {% else %}
    		  <a class="btn btn-mini bookmark create-bookmark" href="{{ settings.SITE_URL }}/bookmark/create?collection={{ collection }}&docid={{ doc.docid }}" data-docid="{{ doc.docid }}"><i class="icon-bookmark"></i> Bookmark</a>
    	   {% endif %}
    	{% endif %}
   	</div>
    <div class="doc-content">
    	<div class="sidebar">
            {% block sidebar %}{% endblock %}
        </div>
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>
