{% extends "modal.html" %}
{% block content %}
<div class="alert alert-info">
	To view the contents of this wiki article, <a href="{{ doc.permalink[0] }}" class="bengwiki_external" id="{{ doc.docid }}" target="_blank"><u>view the article on the Beeld en Geluid Wiki</u></a> (opens in new window).
</div>
{% endblock %}
{% block sidebar %}
<table class="table table-striped">
	<tr>
		<td>Collection</td>
        <td>{{ settings.COLLECTIONS['bengwiki']['name'] }}</td>
    </tr>
	<tr>
	    <td>Document ID</td>
	    <td>{{ doc.docid }}</td>
	</tr>
	{% if doc.contributor %}
    <tr>
	    <td>{{ settings.FACETS['bengwiki_contributor']['name'] }}</td>
	    <td>
	        <ul>
	        {% for contributor in doc.contributor %}
	            <li>{{ contributor }}</li>
	        {% endfor %}
	        </ul>
	    </td>
    </tr>
	{% endif %}
	{% if doc.categories %}
    <tr>
	    <td>{{ settings.FACETS['bengwiki_categories']['name'] }}</td>
	    <td>
	        <ul>
	        {% for category in doc.categories %}
	            <li>{{ category }}</li>
	        {% endfor %}
	        </ul>
	    </td>
    </tr>
	{% endif %}
	{% if doc.names %}
    <tr>
	    <td>{{ settings.FACETS['bengwiki_names']['name'] }}</td>
	    <td>
	        <ul>
	        {% for name in doc.names %}
	            <li>{{ name }}</li>
	        {% endfor %}
	        </ul>
	    </td>
    </tr>
	{% endif %}
	{% if doc.keywords %}
    <tr>
	    <td>{{ settings.FACETS['bengwiki_keywords']['name'] }}</td>
	    <td>
	        <ul>
	        {% for keyword in doc.keywords %}
	            <li>{{ keyword }}</li>
	        {% endfor %}
	        </ul>
	    </td>
    </tr>
	{% endif %}
</table>
{% endblock %}