{% extends "modal.html" %}
{% block content %}
    <p>{{ doc.content|join(', ')|safe }}</p>
{% endblock %}
{% block sidebar %}
<table class="table table-striped">
    <tr>
        <td>Collection</td>
        <td>{{ settings.COLLECTIONS['immix']['name'] }}</td>
    </tr>
    <tr>
        <td>Document ID</td>
        <td>{{ doc.docid }}</td>
    </tr>
    {% if doc.publication_date %}
    <tr>
        <td>{{ settings.FACETS['immix_publication_date']['name'] }}</td>
        <td>{{ doc.publication_date }}</td>
    </tr>
    {% endif %}
    {% if doc.categories %}
    <tr>
        <td>{{ settings.FACETS['immix_categories']['name'] }}</td>
        <td>
            <ul>
            {% for category in doc.categories %}
                <li>{{ category }}</li>
            {% endfor %}
            </ul>
        </td>
    </tr>
    {% endif %}
    {% if doc.contributor %}
    <tr>
        <td>{{ settings.FACETS['immix_contributor']['name'] }}</td>
        <td>
            <ul>
            {% for contributor in doc.contributor %}
                <li>{{ contributor }}</li>
            {% endfor %}
            </ul>
        </td>
    </tr>
    {% endif %}
    {% if doc.keywords %}
    <tr>
        <td>{{ settings.FACETS['immix_keywords']['name'] }}</td>
        <td>
            <ul>
            {% for keyword in doc.keywords %}
                <li>{{ keyword }}</li>
            {% endfor %}
            </ul>
        </td>
    </tr>
    {% endif %}
    {% if doc.names %}
    <tr>
        <td>{{ settings.FACETS['immix_names']['name'] }}</td>
        <td>
            <ul>
            {% for name in doc.names %}
                <li>{{ name }}</li>
            {% endfor %}
            </ul>
        </td>
    </tr>
    {% endif %}
</table>
{% endblock %}
