/* @override
	http://zookst9.science.uva.nl:5001/static/css/app.css
	http://zookst9.science.uva.nl:5004/static/css/app.css */

body {
	background: #fbfbfb;
}

header h1 {
	float: left;
}

#logout {
	float: right;
	padding: 15px 20px 0 0;
}

#bookmarks {
	float: right;
	padding: 15px 20px 0 0;
}

#bookmarks li {
	position: relative;
}

#bookmarks li span {
	display: block;
}

#bookmarks li span.collection {
	font-size: 11px;
	color: #8e8e8e;
}

#bookmarks a:hover span.collection {
	color: #fff;
}

#bookmarks span.delete {
	position: absolute;
	left: 5px;
	top: 12px;
}

#bookmarks span.delete a {
	color: #ea4141;
}

#bookmarks span.delete a:hover {
	font-weight: bold;
}

.searchbar {
	background: #E5E5E5;
	border-bottom: 1px solid #A8A8A8;
	-moz-border-radius-topright:10px;
	-webkit-border-top-right-radius:10px;
	border-top-right-radius:10px;
	-moz-border-radius-topleft:10px;
	-webkit-border-top-left-radius:10px;
	border-top-left-radius:10px;
}

#term-query-search, .search-screen {
	margin: 10px 0;
}

.facets {
	background: #DDDDD6;
	margin-left: 0;
	border: 1px solid #A8A8A8;
	display: none;
}

.facets.active {
	display: block;
}

.facets h2, .facets h3 {
	font-size: 18px;
	background: #d9d9d5;
	background: -webkit-gradient(linear, center top, center bottom, from(#ebebe6), to(#d9d9d5));
	background: -moz-linear-gradient(top, #ebebe6, #d9d9d5);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffebebe6', endColorstr='#ffd9d9d5', GradientType=0);
	margin: 0;
	padding: 0 33px 0 15px;
	border: 1px solid #C2C2BE;
	border-width: 1px 0;
	overflow: hidden;
}

.facet ul {
	margin: 5px 0;
	list-style: none;
}

.facet li {
	padding: 0 8px;
}

.facet.hide {
	display: none;
}

.facet a.show_more {
	padding: 0 7px 5px 7px;
	display: block;
	cursor: pointer;
}

.facet .slider {
	margin: 40px 15px 10px 15px;
}

.slider-lower-val, .slider-upper-val {
	padding: 1px 5px;
	margin: 10px;
	background-color: #818178;
	color: #fff;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.slider-lower-val {
	float: left;
}

.slider-upper-val {
	float: right;
}

#results-basic {
	margin-left: 0;
	width: 658px;
}

#results-basic .no-hits-alert {
	width: 90%;
	margin: 10px;
}

#results-basic .num-hits {
	padding: 6px 10px;
	font-size: 14px;
	border-right: 1px solid #A8A8A8;
	border-bottom: 1px solid #C8C8C8;
	border-color: rgba(0, 0, 0, 0.2);
	background-color: #E5E5E5;
	background-image: -webkit-linear-gradient(top, #F6F6F6 0%,#E5E5E5 100%);
	background-image: -moz-linear-gradient(top, #F6F6F6 0%,#E5E5E5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff6f6f6', endColorstr='#ffe5e5e5', GradientType=0);
}

#results-basic ul.hits {
	margin: 0;
	padding: 0;
}

#results-basic ul.hits li {
	list-style: none;
	border-bottom: 1px solid #D8D8D8;
	border-right: 1px solid #A8A8A8;
	background: #fff;
	padding: 15px 15px 30px 15px;
	float: left;
	position: relative;
}

#results-basic ul.hits li h3 {
	font-size: 18px;
	line-height: 22px;
	margin: 0;
	float: left;
	max-width: 540px;
}

#results-basic ul.hits li.doctype-photo h3 {
	max-width: 355px;
}

#results-basic ul.hits li .pubdate {
	float: right;
	line-height: 24px;
}

#results-basic ul.hits li.doctype-text .snippet {
	clear: both;
	width: 627px;
}

#results-basic ul.hits li.doctype-photo .snippet {
	float: left;
	width: 440px;
}

.results ul.hits li em {
	font-weight: bold;
}

#results-basic ul.hits li .hit-thumbnail {
	float: left;
	padding: 10px;
}

#results-basic ul.hits li a.bookmark {
	float: right;
	margin: 0;
	bottom: 5px;
	right: 10px;
	position: absolute;
}

#results-basic.full-width {
	width: 100%;
}

#results-basic.full-width ul.hits li {
	width: 929px;
}

#screen_aggregated, #screen_similarity {
	float: left;
	width: 960px;
	margin: 0 0 0 -20px;
	padding: 0;
	border-left: 1px solid #A8A8A8;
	border-right: 1px solid #A8A8A8;
}

#screen_aggregated .loading, #screen_similarity .loading {
	width: 25px;
	height: 25px;
	position: absolute;
	top: 150px;
	left: 50%;
}

#screen_aggregated .no-hits-alert, #screen_similarity .no-hits-alert {
	margin: 15px;
}

#screen_aggregated .collection, #screen_similarity .collection {
	position: relative;
	background: #fff;
	float: left;
}

#screen_aggregated .collection .results, #screen_similarity .collection .results {
	border-bottom: 1px solid #A8A8A8;
	float: left;
	margin:  0;
	border-color: #eaeaea;
	width: 960px;
}

#screen_aggregated .collection ul.hits, #screen_similarity .collection ul.hits {
	list-style: none;
	float: left;
	margin: 0;
	width: 960px;
}

#screen_aggregated .collection ul.hits li, #screen_similarity .collection ul.hits li {
	float: left;
	width: 208px;
	padding: 0 15px 30px 15px;
	position: relative;
	display: block;
}

#screen_aggregated  .hit-thumbnail, #screen_similarity  .hit-thumbnail {
	height: 200px;
	overflow: hidden;
}

#screen_aggregated .collection ul.hits li img.img-polaroid, #screen_similarity .collection ul.hits li img.img-polaroid {
	margin-top: 5px;
}

#screen_aggregated .collection ul.hits li h3, #screen_similarity .collection ul.hits li h3 {
	font-size: 14px;
	line-height: 16px;
	height: 60px;
	overflow: hidden;
	margin: 10px 0 5px 0;
}

#screen_aggregated ul.hits li a.bookmark, #screen_similarity ul.hits li a.bookmark {
	margin: 0;
	bottom: 0px;
	position: absolute;
}

#screen_aggregated .collection-header, #screen_similarity .collection-header {
	background-color: #E5E5E5;
	background-image: -webkit-linear-gradient(top, #F6F6F6 0%,#E5E5E5 100%);
	background-image: -moz-linear-gradient(top, #F6F6F6 0%,#E5E5E5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff6f6f6', endColorstr='#ffe5e5e5', GradientType=0);
	border-bottom: 1px solid #A8A8A8;
	padding: 0 20px;
	font-size: 20px;
	font-weight: 200;
	color: #777;
	text-shadow: 0 1px 0 white;
	float: left;
	width: 920px;
}

#similarity-history .collection-header {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd991', endColorstr='#feb834', GradientType=0);
	background: -moz-linear-gradient(top, #fbf8f3 0%, #f5e9d1 100%) #ffcd48;
	background: -webkit-linear-gradient(top, #fbf8f3 0%, #f5e9d1 100%) #ffcd48;
}

#similarity-history .results {
	padding-bottom: 10px;
}

#screen_aggregated .collection-header h2, #screen_similarity .collection-header h2 {
	float: left;
	font-weight: 400;
	font-size: 20px;
	margin: 0;
}

#screen_aggregated .collection-header .num-hits, #screen_similarity .collection-header .num-hits {
	float: left;
	font-size: 14px;
	padding: 11px 0 0 8px;
}

#screen_aggregated .collection-header .filter-toggle, #screen_similarity .collection-header .filter-toggle {
	float: right;
	border-left: 1px solid #F6F6F6;
	border-right: 1px solid #F6F6F6;
	float: right;
	padding: 10px;
	display: block;
	font-size: 16px;
	color: #555;
	text-decoration: none;
	cursor: pointer;
}

#screen_aggregated .collection-header a.filter-toggle .caret,  #screen_similarity .collection-header a.filter-toggle .caret{
	margin-top: 10px;
	margin-left: 3px;
}

#screen_aggregated .collection-header .filter-toggle:hover, #screen_aggregated .collection-header .filter-toggle.active, #screen_similarity .collection-header .filter-toggle:hover, #screen_similarity .collection-header .filter-toggle.active {
	color: #555;
	text-decoration: none;
	background-color: #E5E5E5;
	-webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
	-moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
	box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
}

#screen_aggregated .collection-header a.filter-toggle.filtered, #screen_similarity .collection-header a.filter-toggle.filtered {
	color: #000;
	text-decoration: none;
	background-color: #c3d5df;
	webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15),0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
	box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15),0 1px 2px rgba(0, 0, 0, 0.05);
}

#screen_aggregated .facets, #screen_similarity .facets  {
	border-top: none;
	border-left: none;
	border-right: none;
}

#screen_aggregated .facet, #screen_similarity .facet {
	float: left;
	padding: 0 5px 0 0;
	width: 185px;
}

#screen_aggregated .facet h3, #screen_similarity .facet h3 {
	background: none;
	border: none;
	font-size: 16px;
	font-weight: 600;
}

#screen_aggregated .slider-lower-val, #screen_aggregated .slider-upper-val, #screen_similarity .slider-lower-val, #screen_similarity .slider-upper-val  {
	margin: 5px 8px;
	font-size: 12px;
}

#screen_aggregated .pagination, #screen_similarity .pagination  {
	margin: 5px 20px 10px 0;
}

#screen_aggregated .snippet, #screen_similarity .snippet {
	height: 100px;
	overflow: scroll;
}

a.find-similar {
	float: left;
}

.popover-thumb {
	float: left;
	margin: 3px;
	text-transform: uppercase;
	width: 100px;
	height: 100px;
	background-position: center center;
}

.popover-title {
	display: none;
}

#main {
	height: 300px;
}

#screen_bookmarks ul {
	margin: 0;
	padding: 0;
}

#screen_bookmarks ul li {
	list-style: none;
	border-bottom: 1px solid #A8A8A8;
	border-right: 1px solid #A8A8A8;
	border-left: 1px solid #A8A8A8;
	background: #fff;
	padding: 15px 15px 45px 15px;
	float: left;
	position: relative;
	width: 100%;
	box-sizing: border-box;
}

#screen_bookmarks li h3 {
	font-size: 18px;
	line-height: 22px;
	margin: 0;
	float: left;
	width: 100%;
}

#screen_bookmarks li .bookmark-date {
	color: #757575;
	margin: 0 0 8px 0;
}

#screen_bookmarks li a.bookmark {
	margin: 0;
	bottom: 10px;
	right: 10px;
	position: absolute;
}

.pagination {
	margin:  15px 0;
	float: right;
}

#foot {
	width: 100%;
	clear: both;
	margin: 10px 0;
	float: left;
}

/* Modal */


.ui-widget-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #666666;
	opacity: .5;
	filter: ßAlpha(Opacity=50);
}

.ui-dialog {
	background: #fff;
	border: 1px solid rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	padding: 15px;
	float: left;
}

.ui-dialog-titlebar {
	float: right;
	position: relative;
}

.ui-dialog .doc-head {
	border-bottom: 1px solid #EEE;
	margin-bottom: 5px;
}

.ui-dialog .doc-head a.bookmark {
	float:right;
	position: absolute;
	top: 40px;
	right: 15px;
}

.ui-dialog .sidebar {
	width: 345px;
	margin-right: 10px;
	float: left;
	max-height: 600px;
	overflow-y: scroll;
}

.ui-dialog .content {
	width: 530px;
	float: left;
	padding-left: 15px;
	max-height: 600px;
	overflow-y: scroll;
}

.ui-dialog .content em {
	font-weight: bold;
}

.loading {
	width: 25px;
	height: 25px;
	position: absolute;
	top: 300px;
	left: 60%;
	background: url(../img/loading.gif);
}

/* jQuery UI stuff */
.facet .ui-slider { position: relative; text-align: left; }
.facet .ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 15px;
	height: 15px;
	cursor: pointer;
}
.facet .ui-slider .ui-slider-range { position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; background-position: 0 0; }

.facet .ui-slider-horizontal { height: .8em; }
.facet .ui-slider-horizontal .ui-slider-handle { top: -.35em; margin-left: -.6em; }
.facet .ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; }
.facet .ui-slider-horizontal .ui-slider-range-min { left: 0; }
.facet .ui-slider-horizontal .ui-slider-range-max { right: 0; }

.facet .ui-slider-vertical { width: .8em; height: 100px; }
.facet .ui-slider-vertical .ui-slider-handle { left: -.35em; margin-left: 0; margin-bottom: -.6em; }
.facet .ui-slider-vertical .ui-slider-range { left: 0; width: 100%; }
.facet .ui-slider-vertical .ui-slider-range-min { bottom: 0; }
.facet .ui-slider-vertical .ui-slider-range-max { top: 0; }

.facet .ui-widget { font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif; font-size: 12px; }
.facet .ui-widget .ui-widget { font-size: 1em; }
.facet .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif; font-size: 1em; }
.facet .ui-widget-content {
	background: #e8e8e8;
	background-image: -webkit-linear-gradient(#f4f4f4,#e8e8e8);
	background-image: -moz-linear-gradient(#f4f4f4,#e8e8e8);
	background-image: linear-gradient(#f4f4f4,#e8e8e8);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #fafafa;
	color: #333333;
}
.facet .ui-widget-content a { color: #333333; }
.facet .ui-widget-header {
	background: #0095c0;
	background-image: -webkit-linear-gradient(#18add8,#0095c0);
	background-image: -moz-linear-gradient(#18add8,#0095c0);
	background-image: linear-gradient(#18add8,#0095c0);
	color: #ffffff;
	font-weight: bold;
}
.facet .ui-widget-header a { color: #ffffff; }

.facet .ui-state-default, .facet .ui-widget-content .ui-state-default, .facet .ui-widget-header .ui-state-default {
	border: 1px solid #fafafa;
	background: #84B400;
	background-image: -webkit-linear-gradient(#8EC000,#80AF00);
	background-image: -moz-linear-gradient(#8EC000,#80AF00);
	background-image: linear-gradient(#8EC000,#80AF00);	font-weight: bold;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #1c94c4;
}
.facet .ui-state-default a, .facet .ui-state-default a:link, .facet .ui-state-default a:visited { color: #1c94c4; text-decoration: none; }
.facet .ui-state-hover, .facet .ui-widget-content .ui-state-hover, .facet .ui-widget-header .ui-state-hover, .facet .ui-state-focus, .facet .ui-widget-content .ui-state-focus, .facet .ui-widget-header .ui-state-focus {
	border: 1px solid #84B400;
}
.facet .ui-state-hover a, .ui-state-hover a:hover, .ui-state-hover a:link, .ui-state-hover a:visited { color: #c77405; text-decoration: none; }
.facet .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { border: 1px solid #fbd850; background: #ffffff url(images/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x; font-weight: bold; color: #eb8f00; }
.facet .ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #eb8f00; text-decoration: none; }
